@import "../../theme/constants.scss";

.container {
   display: flex;
}

.right_cont {
}

.header_mock {
   height: $dashboard-header-height;
   width: $dashboard-children_width;
   border-bottom: 1px solid;
}
.child_container {
   padding: 0.85rem 1.5rem;
   width: 100%;
   max-height: $dashboard-child-height;
   overflow-y: scroll;
}
