@import "../../theme/constants.scss";

.main_container {
   height: 100%;
   display: flex;

   @media only screen and (max-width: $breakpoint-md) {
      flex-direction: column;
   }

   & > .left_container {
      height: 100%;
      width: 55%;
      //   background-color: blue;

      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      padding: 1rem;

      @media only screen and (max-width: $breakpoint-md) {
         width: 100%;
      }

      @media only screen and (max-width: $breakpoint-sm) {
         padding: 0;
      }
   }

   & > .right_container {
      height: 100%;
      width: 45%;
      background-color: green;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: 1rem;

      @media only screen and (max-width: $breakpoint-md) {
         width: 100%;
      }

      @media only screen and (max-width: $breakpoint-sm) {
         padding: 0;
      }
   }

   .top_row {
      display: flex;
      gap: 1rem;
      width: 100%;
   }
}
