.container {
   width: 100%;
   height: 10rem;
   border-radius: 0.85rem;
   overflow: hidden;
   border: 1.5px solid;
}

.top_box {
   width: 100%;
   height: 50%;
   padding: 1rem;
   background-size: cover;
   background-position: center;

   // alphabet title
   & > div {
      width: 3rem;
      height: 3rem;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
   }
}

.bottom_box {
   background-color: #fff;
   padding: 0.5rem 1rem;
   position: relative;
   height: 50%;

   display: flex;
   flex-direction: column;
   //    justify-content: center;
   align-items: flex-start;

   & > p:nth-child(1) {
      font-size: 0.9rem;
      font-weight: 500;
   }

   & > p:nth-child(2) {
      font-size: 0.6rem;
      margin-bottom: 0.75rem;
   }
}

.important_label {
   font-size: 0.55rem;
   font-weight: 500;

   position: absolute;
   bottom: 0.5rem;
   left: 1rem;
   border-radius: 0.25rem;
   padding: 0.1rem 0.3rem;

   background-color: #ffdada;
   color: #ff7070;
}

.date_box {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.25rem;
   font-size: 0.6rem;
   font-weight: 500;

   position: absolute;
   bottom: 0.5rem;
   right: 1rem;
}
