.notification_container {
   width: 2.5rem;
   height: 2.5rem;
   position: relative;
   border-radius: 0.75rem;

   display: flex;
   justify-content: center;
   align-items: center;

   & > img {
      width: 1rem;
   }

   // Green tick or Red count container
   .count_container {
      $size: 1rem;
      width: $size;
      height: $size;
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      top: -$size * 0.2;
      right: -$size * 0.2;

      color: #fff;
      font-size: 0.65rem;
   }
}
