@import "../theme/constants.scss";

.main_container {
   display: flex;
   height: $screen-height;

   @media (orientation: portrait) and (max-width: $breakpoint-md) {
      height: fit-content;
      flex-direction: column;
   }

   .left_container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      flex-direction: column;
      animation: left_cont-load_animation 1s;

      @media (orientation: portrait) and (max-width: $breakpoint-md) {
         width: 100%;
         padding-inline: 1rem;
         padding-block: 6vh;
      }

      .txt_container {
         & > p:nth-child(1) {
            font-size: 1dvw;
            font-weight: 500;

            @media (orientation: portrait) and (max-width: $breakpoint-md) {
               font-size: 1vw;
            }

            @media (orientation: portrait) and (max-width: $breakpoint-sm) {
               font-size: 0.75rem;
            }
         }
         & > p:nth-child(2),
         & > p:nth-child(3) {
            font-size: 3vw; // Your all in one...
            font-weight: 500;

            @media (orientation: portrait) and (max-width: $breakpoint-md) {
               font-size: 4vw;
            }
            @media (orientation: portrait) and (max-width: $breakpoint-sm) {
               font-size: 1.5rem;
            }
         }

         .all_in_one_txt {
            position: relative;

            .left_quote {
               transform: translateY(-50%);
               width: 4%;
            }
            .right_quote {
               width: 6%;
               transform: translate(-15%, -30%);
            }
         }

         & > p:nth-child(4) {
            font-size: 1.1vw;
            max-width: 55ch;

            @media (orientation: portrait) and (max-width: $breakpoint-md) {
               font-size: 2vw;
               max-width: 45ch;
            }
            @media (orientation: portrait) and (max-width: $breakpoint-sm) {
               font-size: 0.85rem;
               max-width: 40ch;
            }
         }
      }

      .btn_free_cont {
         display: flex;
         align-items: center;
         gap: 1rem;
      }
   }

   .right_container {
      width: 50%;
      position: relative;
      @include flex-center;

      .bg_img_cont {
         position: absolute;
         right: 0;
         width: 50%;
         height: $screen-height;
         background: url("../public/home/bg-texture.webp");
         background-size: cover;
         background-position: center;

         @media (orientation: portrait) and (max-width: $breakpoint-md) {
            height: 100%;
            width: 50%;
         }
      }

      @media (orientation: portrait) and (max-width: $breakpoint-md) {
         height: 50vh;
         width: 100%;
      }
   }

   .demo_img {
      width: 90%;
      z-index: 99;
      border-radius: 0.5rem;
      -webkit-box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.25);
      box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.25);

      @media (orientation: portrait) and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
         width: 60%;
      }

      transition: all 0.3s;
      animation: demo_img-load_animation 0.5s;
   }
}

// Free to use no card
.freeuse_cont {
   display: flex;

   & > p {
      font-size: 0.65rem;
      font-weight: 600;
      text-align: center;
      margin-inline: 0.5rem;
   }

   & > img:nth-child(1) {
      width: 1.5rem;
   }

   & > img:nth-child(3) {
      width: 1.8rem;
      margin-bottom: 0.5rem;
   }
}

// Copyright box
.copyright_cont {
   margin-top: 5rem;
   align-self: flex-start;
   display: none;

   & > p {
      font-size: 0.7rem;
   }

   & > a {
      color: inherit;
   }

   @media (orientation: landscape) and (min-width: $breakpoint-md) {
      display: block;
   }
}

// Animations

@keyframes demo_img-load_animation {
   0% {
      transform: translateY(1.5rem) scale(0.8);
   }

   100% {
      transform: translateY(0) scale(1);
   }
}

@keyframes left_cont-load_animation {
   0% {
      transform: translateX(-2.5rem) scale(1);
   }
   50% {
      transform: translateX(1rem) scale(1);
   }
   100% {
      transform: translateX(0) scale(1);
   }
}
