.container {
   margin-top: 1rem;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   display: flex;

   p {
      text-align: center;
      font-size: 0.8rem;
      margin-top: 1rem;
   }
}
