.container {
   width: 100%;
   padding-block: 1rem;
   padding-left: 2rem;

   display: flex;
   justify-content: flex-start;
   align-items: center;

   font-size: 0.85rem;
   text-decoration: none;
   font-weight: 500;
}

.bottom_link {
   position: absolute;
   bottom: 0;
}

.icon_title_cont {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
}

.icon_cont {
   padding-top: 0.2rem;
}
