@import "../../../theme/constants.scss";

.container {
   height: $dashboard-header-height;
   width: $dashboard-children_width;
   background-color: red;

   @media only screen and (max-width: $breakpoint-dashboard-shift) {
      width: $dashboard-children_width-md;
      width: 100%;
   }

   @media only screen and (max-width: $breakpoint-sm) {
      width: $dashboard-children_width-sm;
   }

   border-bottom: 1px solid;
   padding-inline: 1.5rem;

   display: flex;
   align-items: center;
   justify-content: space-between;

   & > p {
      font-size: 0.95rem;
      font-weight: 500;
   }
}

.theme_noti_cont {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.5rem;
}

.name {
   @media only screen and (max-width: $breakpoint-sm) {
      display: none;
   }
}
