$breakpoint-md: 500px;

.contact-main-container {
   margin-inline: 1rem;
   border-radius: 1.5rem;
   padding: 2rem 3rem;
   padding-bottom: 1rem;

   display: flex;
   flex-direction: column;
   align-items: center;

   @media (max-width: $breakpoint-md) {
      padding-inline: 0.85rem;
      margin-inline: 0;
      border-radius: 0;
      margin-bottom: 0;
   }
}

.contact-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;

   &-left_container {
      & > h4 {
         color: #fff;
         font-weight: 500;
         font-size: 1.3rem;
      }

      & > p {
         font-size: 0.8rem;
         display: flex;
         align-items: center;
         justify-content: center;
         width: fit-content;
         gap: 0.5rem;
         margin-block: 0.5rem;

         & > img {
            width: 0.8rem;
         }
      }
   }

   &-right_container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      @media (max-width: $breakpoint-md) {
         flex-direction: column;
      }

      & > img {
         width: 5rem;
         height: 5rem;
         border-radius: 50%;

         @media (max-width: $breakpoint-md) {
            width: 17vw;
            height: 17vw;
         }
      }

      &-social_container {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;

         & > a > img {
            width: 1.35rem;
         }

         @media (max-width: $breakpoint-md) {
            flex-direction: row;
            gap: 0.5rem;
         }
      }
   }

   &-copyright {
      margin-top: 1rem;
      font-size: 0.7rem;
      color: rgba($color: #fff, $alpha: 0.2);

      & > a {
         color: rgba($color: #fff, $alpha: 0.2);
      }
   }
}
