// vars
$navbar-height: 13dvh;
$screen-height: 87dvh;

// Breakpoints
$breakpoint-sm: 500px;
$breakpoint-md: 900px;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
