@import "../theme/constants.scss";

.container {
  width: 100vw;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  height: $navbar-height;
  @include flex-center;
  justify-content: space-between;

  @media only screen and (max-width: $breakpoint-sm) {
    padding: 1rem;
    height: auto;
  }

  .logo {
    max-width: 8.5rem;
    @media only screen and (max-width: 400px) {
      max-width: 6rem;
    }
  }

  .links_container {
    display: flex;
    gap: 0.5rem;
  }

  .github_btn {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;

    @media only screen and (max-width: 400px) {
      display: none;
    }

    .github_icon {
      width: 1rem;
    }
  }
}
