@import "../../../theme/constants.scss";

.options {
   width: 1.2rem;
   height: 1.2rem;
   @media only screen and (max-width: $breakpoint-sm) {
      width: 1.5rem;
      height: 1.5rem;
   }

   border-radius: 50%;
   top: 0.5rem;
   right: 0.5rem;
   position: absolute;
   outline: none;
   border: none;
   cursor: pointer;

   z-index: 3;

   display: flex;
   justify-content: center;
   align-items: center;

   & > img {
      width: 0.8rem;
   }
}
