@import "../../../theme/constants.scss";

.container {
   display: flex;
}

.right_cont {
}

.header_mock {
   height: $dashboard-header-height;
   width: $dashboard-children_width;
   border-bottom: 1px solid;

   @media only screen and (max-width: $breakpoint-dashboard-shift) {
      width: $dashboard-children_width-md;
   }
   @media only screen and (max-width: $breakpoint-sm) {
      width: $dashboard-children_width-sm;
   }
}
.child_container {
   padding: 0.85rem 1.5rem;
   height: $dashboard-child-height;
   width: $dashboard-children_width;
   overflow-y: scroll;

   @media only screen and (max-width: $breakpoint-dashboard-shift) {
      width: $dashboard-children_width-md;
   }
   @media only screen and (max-width: $breakpoint-sm) {
      width: $dashboard-children_width-sm;
   }
}
