@import "../../../theme/constants.scss";

.container {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;

   & > h2 {
      font-size: 1.85rem;

      @media only screen and (max-width: $breakpoint-sm) {
         font-size: 1.25rem;
         font-size: 1rem;
      }
   }

   & > button {
      border: none;
      outline: none;
      font-size: 0.8rem;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;

      padding: 0.5rem 0.8rem;
      border-radius: 0.3rem;

      @media only screen and (max-width: $breakpoint-sm) {
         padding: 0.4rem 0.5rem;
         font-size: 0.75rem;
      }
   }
}

.description {
   font-size: 0.8rem;
}
